[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
gunicorn = "*"

[dev-packages]
black = "==20.8b1"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.7.9"
